@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
}
.Loginpage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/Bg.jpg");
  background-size: cover;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  .error_message {
    color: red;
    background-color: #d4e2d4;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 30%;
    margin: auto;
  }
  .form__section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // outline: solid red;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 50%;
    height: 70%;
    margin: auto;
    box-shadow: 0 0 10px 5px rgb(46, 45, 45);
  }
  .email__section {
    display: flex;
    flex-direction: column;
    label {
      padding: 10px;
    }
  }
  .password__section {
    display: flex;
    flex-direction: column;
    label {
      padding: 10px;
    }
  }
  .input__field {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    padding: 0.5em;
  }
  .Login__button {
    width: 20%;
    padding: 1em;
    margin: 1rem;
  }
  .SignUp__button {
    width: 20%;
    padding: 1em;
  }
  .signup__link {
    text-decoration: none;
    color: black;
  }
   @media (max-width: 570px) {
    .form__section {
      width: 100%;
      margin: auto;
      margin-top: 10%;
    }
  }
}

.LoggedIn__page {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  height: 100vh;
  width: 100%;
  align-items: center;
  .side__panel {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    justify-content: flex-end;
  }
  .logout__button {
    padding: 10px;
    margin-top: 2rem;
  }
   
}
